.card {
  position: relative;
  width: 200px;
  height: 250px;
  margin: 1rem;
  overflow: hidden;
  border: solid black;
  border-radius: 10px;
  background-color: transparent;
}



.subtitle{
  
  display: block;
  margin: 0 40px;
  font-size: 1.2rem;
  font-weight: 700;
}
.cardImg {
  position: absolute;
  width:
   100%;
}
.cardInfo {
  position: absolute;
  width: 100%;
  background-color: transparent;
  bottom: -43px;
  text-align: center;
}


/* para el posicionamento del botton  */
.button {
  position: absolute;
  top: -50px;
  right: 0.4rem;
  padding: 0.5rem;
  background-color: rgba(255, 0, 0, 0.301);
  border: none;
  border-radius: 50%;
  box-shadow: 0px 8px 15px rgba(19, 16, 16, 0.952);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  z-index: 1;
}


.status {
  position: absolute;
  margin: 0 auto;
  padding: 0px 10px;
  top: -50px;
  left: 0.4rem;
  background-color: #2e920c;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
/* este espara la sombra roja del container de la imagens */
.card:hover {
  box-shadow: 1px 2px 10px rgba(219, 15, 15, 0.5);
  transition: all 0.3s ease-in-out;
}

/* esta es la parte que klla imagens del perro sub 5 segundos */
.card:hover .cardImg {
  transition: all 0.5s ease-in-out;
  transform: translateY(10%);
}



/* para que aparezca el button */
.card:hover .button {
  transform: translateY(56px);
  transition: all 0.3s ease-in-out;
}


